<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>vegetablesshop.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>vegetablesshop.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>vegetablesshop.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetActiveProductController</servlet-name>
        <servlet-class>vegetablesshop.controller.GetActiveProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDetailProductController</servlet-name>
        <servlet-class>vegetablesshop.controller.GetDetailProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>a</servlet-name>
        <servlet-class>vegetablesshop.controller.a</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>vegetablesshop.controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductCartController</servlet-name>
        <servlet-class>vegetablesshop.controller.DeleteProductCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>vegetablesshop.controller.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductController</servlet-name>
        <servlet-class>vegetablesshop.controller.SearchProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutLoginController</servlet-name>
        <servlet-class>vegetablesshop.controller.CheckoutLoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetActiveProductController</servlet-name>
        <url-pattern>/GetActiveProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDetailProductController</servlet-name>
        <url-pattern>/GetDetailProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>a</servlet-name>
        <url-pattern>/a</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductCartController</servlet-name>
        <url-pattern>/DeleteProductCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/UpdateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductController</servlet-name>
        <url-pattern>/SearchProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutLoginController</servlet-name>
        <url-pattern>/CheckoutLoginController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
</web-app>
